<template>
  <div class="about">
    <h1>This is an about page</h1>
    <div>
      <b-img :src="require('../assets/99140406_3298529476880585_1472535683531800576_o.jpg')"></b-img>
    </div>
  </div>
</template>
